.card__description {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  /*padding: 25px 15px 31px 21px;*/
}
