.popup__container {
  position: relative;
  width: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media all and (max-width: 960px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
    box-sizing: border-box;
  }
}

