.user-profile__button-edit {
  background-image: url('../../../images/edit_button.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  transition: opacity .3s ease-in;
  align-self: center;
}

.user-profile__button-edit:hover {
  opacity: .6;
}

@media all and (max-width: 960px) {
  .user-profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
